<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Meu Blog Pessoal</title>
    </head>
    <body>
        <p>Esse é meu Blog</p>
    </body>
</html>

<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 28.08.2018, 19:40</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p> Meu novo Blog Pessoal</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p> Meu novo Blog Pessoal</p>
        </div>
    </body>
</html>